/**
*
* Testing
*
**/
html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #282525;
  background-image: url("IMG/pixoblix Studio - Pattern 4x4 (white).svg");
  background-repeat: repeat; }
  body .box {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    body .box__logo {
      object-fit: contain;
      /* Ensure the image scales proportionally */
      max-height: calc(90% - 100px);
      min-height: 300px;
      max-width: 800px;
      /* Set a maximum width for the box */
      display: flex;
      justify-content: center; }
    body .box__coming_soon {
      width: 150px;
      transform-origin: top center; }
    body .box__textbox {
      text-align: center;
      max-width: 700px;
      padding: 0 30px;
      margin-top: 20px; }
    body .box__textbox > * {
      margin: 20px; }
    body .box__social {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(6, 1fr);
      width: 100%;
      max-width: 800px;
      padding: 30px;
      justify-items: center; }
      @media (max-width: 768px) {
        body .box__social {
          grid-template-columns: repeat(3, 1fr);
          max-width: 400px; } }
      @media (max-width: 360px) {
        body .box__social {
          grid-template-columns: repeat(2, 1fr);
          max-width: 400px; } }
      body .box__social a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        margin: 10px; }
        @media (max-width: 768px) {
          body .box__social a {
            width: 70px; } }
        body .box__social a img {
          width: 100%;
          height: 100%;
          display: block; }
  body footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    max-width: 1140px;
    padding: 20px 40px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'mitrbold';
  src: url("FONTS/mitr-bold-webfont.woff2") format("woff2"), url("FONTS/mitr-bold-webfont.woff") format("woff"), url("FONTS/mitr-bold-webfont.ttf") format("truetype"), url("FONTS/mitr-bold-webfont.svg#mitrbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'mitrlight';
  src: url("FONTS/mitr-light-webfont.woff2") format("woff2"), url("FONTS/mitr-light-webfont.woff") format("woff"), url("FONTS/mitr-light-webfont.ttf") format("truetype"), url("FONTS/mitr-light-webfont.svg#mitrlight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotobold';
  src: url("FONTS/roboto-bold-webfont.woff2") format("woff2"), url("FONTS/roboto-bold-webfont.woff") format("woff"), url("FONTS/roboto-bold-webfont.ttf") format("truetype"), url("FONTS/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotoregular';
  src: url("FONTS/roboto-regular-webfont.woff2") format("woff2"), url("FONTS/roboto-regular-webfont.woff") format("woff"), url("FONTS/roboto-regular-webfont.ttf") format("truetype"), url("FONTS/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
h1 {
  font-family: 'mitrlight';
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.3px;
  color: #fff3b0; }

p {
  font-family: 'robotoregular';
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #fff3b0; }

.copyright {
  font-family: 'robotoregular';
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #fff3b0; }

@keyframes intro-sign-swing {
  0% {
    transform: rotate(20deg); }
  25% {
    transform: rotate(-15deg); }
  50% {
    transform: rotate(10deg); }
  75% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }
.box__coming_soon {
  animation: intro-sign-swing 3s ease-in-out; }

/*# sourceMappingURL=style.css.map */
